<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>
    <style>
        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 95vh;
        }
        .container {
            position: relative;
            width: 400px;
            height: 600px;
            border-radius: 15px;
            background-color: antiquewhite;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .container:hover {
            transform: scale(1.2);
            transition-duration: 1s;
        }
        img {
            position: relative;
            bottom: 20px;
            width: 370px;
            height: 300px;
            border-radius: 15px;
        }
        p {
            position: relative;
            font-size: 30px;
            font-weight: 700;
            bottom: 20px;
        }
        ul {
            position: relative;
           font-size: 20px;
           right: 80px;
           bottom: 60px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src=/<%=file.path%> alt="img">
        console.log(<%=file.path%>)
        <p><%=body.id%>님 환영합니다!</p>
        <ul>
        <%for (let i=0; i<Object.values(body).length; i++) {%>
            <li><%=Object.keys(body)[i]%> : <%=Object.values(body)[i]%></li>
        <%}%>
        </ul>
    </div>
</body>
</html>